@{
    ViewData["Title"] = "Home Page";
}

<h1>Add a Chef!</h1>
<a href="/">Home</a>
@model Chef
    <form asp-action="AddChef" asp-controller="Home" method="post">

        <div class="column">
            <div class="form_item">
                <span asp-validation-for="FirstName"></span>
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName">
            </div>
            <div class="form_item">
                <span asp-validation-for="LastName"></span>
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName">
            </div>
        </div>
        <div class="column">
            <div class="form_item">
                <span asp-validation-for="Birthday"></span>
                <label asp-for="Birthday"></label>
                <input asp-for="Birthday">
            </div>
            <div class="form_item">
                <input value="Add Chef" type="submit"> 
            </div>
        </div>

            
    </form>