@{
    ViewData["Title"] = "Home Page";
}

<h1>Add a Dish!</h1>
<a href="/">Home</a>
@model Dish

    <form asp-action="AddDish" asp-controller="Home" method="post">

        <div class="column">
            <div class="form_item">
                <span asp-validation-for="Name"></span>
                <label asp-for="Name"></label>
                <input asp-for="Name">
            </div>
            <div class="form_item">
                <span asp-validation-for="Calories"></span>
                <label asp-for="Calories"></label>
                <input asp-for="Calories">
            </div>
            <div class="form_item">
                <span asp-validation-for="Description"></span>
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="5" columns="5"></textarea>
            </div>
        </div>
        <div class="column">
            <div class="form_item">
                <span asp-validation-for="ChefId"></span>
                <label asp-for="ChefId">Chef</label>
                <select asp-for="ChefId">
                    @foreach(var chef in ViewBag.chefs){
                    <option value="@chef.Id">@chef.FirstName @chef.LastName</option>
                    }
                </select>
            </div>
            <div class="form_item">
                <input value="Add Dish" type="submit"> 
            </div>
        </div>
        <div class="column">
            <div class="form_item">
                <span asp-validation-for="Tastiness"></span>
                <label asp-for="Tastiness"></label>
                <select asp-for="Tastiness">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </form>